 .whatsapp-float {
      position: fixed;
      bottom: 20px;   /* distance from bottom */
      right: 20px;    /* distance from right */
      width: 60px;
      height: 60px;
      background-color: #25d366;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 6px rgba(0,0,0,0.3);
      z-index: 1000;
      transition: transform 0.2s;
      text-decoration: none;
    }

    .whatsapp-float:hover {
      transform: scale(1.1);
    }

    .whatsapp-float img {
      width: 35px;
      height: 35px;
    }

    .btnreal:hover{
color: white;
    }